@import "tailwindcss";

/* Theme variables */
:root {
  --bg-start: theme(colors.green.50);
  --bg-end: white;
  --card-bg: white;
  --text-color: black;
  --muted-bg: theme(colors.green.50);
}

body[data-theme="dark"] {
  --bg-start: theme(colors.green.950);
  --bg-end: black;
  --card-bg: theme(colors.green.950);
  --text-color: white;
  --muted-bg: theme(colors.green.900);
}
